.Tower {
  flex-grow: 1;
  height: 16vw;
  margin: 0 5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 2px solid black;
}

.Disk {
  height: 2vw;
  border-radius: .3vw;
}