.Tower {
  flex-grow: 1;
  height: 16vw;
  margin: 0 5vw;
  padding: 0 2vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 2vw solid #663300;
  cursor: pointer;
}

.Tower::before {
  position: absolute;
  content: "";
  height: 16vw;
  width: 1vw;
  background-color: #663300;
  z-index: -1;
}
